<div id="main">
	<h1>{{ hardware.modell }}</h1>

	<div id="details">
		<table class="table">
			<tbody>
				<tr>
					<td>Hersteller:</td>
					<td>{{ hardware.hersteller }}</td>
				</tr>

				<tr>
					<td>Seriennummer:</td>
					<td>{{ hardware.seriennummer }}</td>
				</tr>

				<tr>
					<td>Typ:</td>
					<td>{{ hardware.typ }}</td>
				</tr>

				<tr>
					<td>Zustand:</td>
					<td>{{ hardware.zustand }}</td>
				</tr>

				<tr>
					<td>Zustands Beschreibung:</td>
					<td>{{ hardware.zustandBeschreibung }}</td>
				</tr>

				<tr>
					<td>Zustand Geprüft am:</td>
					<td>{{ hardware.zustandDatum | date }}</td>
				</tr>

				<tr>
					<td>Zustand Geprüft von User:</td>
					<td>{{ hardware.zustandUserID }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="details">
		<img
			src="https://t4.ftcdn.net/jpg/02/07/87/79/360_F_207877921_BtG6ZKAVvtLyc5GWpBNEIlIxsffTtWkv.jpg"
			alt="hier sollte ein bild sein" />
	</div>
	<div id="buttons">
		<button
			class="btn btn-primary"
			[routerLink]="['/hardware/edit', hardware.id]">
			Bearbeiten
		</button>
	</div>
</div>
