<!-- <h1>Welcome to smth smth</h1> -->
<bltinv-header></bltinv-header>
<div [hidden]="hideLamps">
	<div
		[ngStyle]="{color: numberOfLamps > 0 ? 'steelblue' : 'red'}"
		[innerText]="numberOfLamps"></div>
</div>

<div *ngIf="selectedHardware">
	{{ selectedHardware | json }}
</div>

<div *ngIf="hardware.amount > 10">
	<bltinv-hardware-list
		[hardwareList]="hardwareList"
		[title]="title"
		(selectedHardware)="selectHardware($event)"></bltinv-hardware-list>
</div>

<div>
	<button
		class="btn btn-primary"
		(click)="addHardware()">
		Add Hardware
	</button>
</div>

<button
	class="btn btn-primary"
	(click)="toggle()">
	toggle Lamps
</button>

<button
	class="btn btn-primary"
	(click)="updateHardware()">
	update Hardware
</button>

<button
	class="btn btn-primary"
	(click)="deleteHardware()">
	delete Hardware
</button>
