<div id="main">
	<h1>Veranstaltung hinzufügen</h1>

	<div id="details">
		<ngb-alert
			[dismissible]="false"
			*ngIf="msg"
			[type]="'danger'">
			{{ msg }}
		</ngb-alert>

		<form
			#hardwareaddform="ngForm"
			(ngSubmit)="addVeranstaltung()">
			<div class="form-group">
				<label for="veranstaltungName">Name:</label>
				<input
					#veranstaltungName="ngModel"
					required
					name="veranstaltungName"
					type="text"
					class="form-control"
					id="veranstaltungName"
					placeholder="Geben Sie den Veranstaltungsnamen ein"
					[(ngModel)]="veranstaltung.name" />
			</div>
			<div
				class="alert alert-danger"
				*ngIf="veranstaltungName.invalid">
				Name ist notwendig
			</div>
			<br />
			<div class="form-group">
				<label for="veranstaltungbeschreibung">Beschreibung:</label>
				<input
					#veranstaltungbeschreibung="ngModel"
					name="veranstaltungbeschreibung"
					type="text"
					class="form-control"
					id="veranstaltungbeschreibung"
					placeholder="Geben Sie eine Beschreibung ein"
					[(ngModel)]="veranstaltung.beschreibung" />
			</div>
			<br />
			<div class="form-group">
				<label for="veranstaltungAufbauStart">Start Aufbau:</label>
				<input
					name="veranstaltungAufbauStart"
					type="date"
					class="form-control"
					id="veranstaltungAufbauStart"
					placeholder="Enter Aufbau start Datum (Format: YYYY-MM-DD)"
					[(ngModel)]="veranstaltung.aufbauStart" />
			</div>
			<br />
			<div class="form-group">
				<label for="veranstaltungStart">Start Veranstaltung:</label>
				<input
					name="veranstaltungStart"
					type="date"
					class="form-control"
					id="veranstaltungStart"
					placeholder="Enter Veranstaltung start Datum (Format: YYYY-MM-DD)"
					[(ngModel)]="veranstaltung.startDatum" />
			</div>
			<br />
			<div class="form-group">
				<label for="veranstaltungEnde">Ende Veranstaltung:</label>
				<input
					name="veranstaltungEnde"
					type="date"
					class="form-control"
					id="veranstaltungEnde"
					placeholder="Enter Veranstaltung End Datum (Format: YYYY-MM-DD)"
					[(ngModel)]="veranstaltung.endDatum" />
			</div>
			<br />
			<div class="form-group">
				<label for="veranstaltungAbbauende">Ende Abbau:</label>
				<input
					name="veranstaltungAbbauende"
					type="date"
					class="form-control"
					id="veranstaltungAbbauende"
					placeholder="Enter Abbau End Datum (Format: YYYY-MM-DD)"
					[(ngModel)]="veranstaltung.abbauEnde" />
			</div>
			<br />
			<div class="form-group">
				<label for="veranstaltungOrt">Ort:</label>
				<input
					name="veranstaltungOrt"
					type="text"
					class="form-control"
					id="veranstaltungOrt"
					placeholder="Geben Sie den Veranstaltungsort ein"
					[(ngModel)]="veranstaltung.ort" />
			</div>
			<br />
			<div class="form-group">
				<label for="veranstaltungVeranstalter">Veranstalter:</label>
				<input
					name="veranstaltungVeranstalter"
					type="text"
					class="form-control"
					id="veranstaltungVeranstalter"
					placeholder="Wer ist der Veranstalter?"
					[(ngModel)]="veranstaltung.veranstalter" />
			</div>
			<br />
			<div class="form-group">
				<label for="veranstaltungTeilnehmer">Teilnehmer:</label>
				<input
					name="veranstaltungTeilnehmer"
					type="text"
					class="form-control"
					id="veranstaltungTeilnehmer"
					placeholder="Wer sind die Teilnehmer?"
					[(ngModel)]="veranstaltung.teilnehmer" />
			</div>
			<br />
			<div class="form-group">
				<label for="veranstaltungTeilnehmerAnzahl"
					>Teilnehmer Anzahl:</label
				>
				<input
					name="veranstaltungTeilnehmerAnzahl"
					type="text"
					class="form-control"
					id="veranstaltungTeilnehmerAnzahl"
					placeholder="Wie viele Teilnehmer sind zu erwarten?"
					[(ngModel)]="veranstaltung.teilnehmerAnzahl" />
			</div>
			<br />
			<div>
				<button
					[disabled]="hardwareaddform.invalid"
					type="submit"
					class="btn btn-primary">
					hinzufügen
				</button>
			</div>
		</form>
	</div>
</div>
