<bltinv-hardware></bltinv-hardware>
<bltinv-veranstaltung></bltinv-veranstaltung>

<!-- <bltinv-container>
	<bltinv-hardware></bltinv-hardware>
	<bltinv-veranstaltung></bltinv-veranstaltung>
	<h1>this is from ng container</h1>
</bltinv-container>-->

<div #name></div>

<!-- <div [ngSwitch]="role">
	<div *ngSwitchCase="'User'">Welcome User!</div>
	<div *ngSwitchCase="'Admin'">
		<app-hardware></app-hardware>
	</div>
	<div *ngSwitchDefault>You are not authorized to view this page.</div>
</div> -->

<!-- <div>
	<ng-template #user></ng-template>
</div> -->
