<p>Hardware List</p>
<!-- {{hardwareList}} -->
<table class="table">
	<tbody>
		<tr>
			<th scope="col">id</th>
			<th scope="col">odd/even</th>
			<th scope="col">Hardware ID</th>
			<th scope="col">modell</th>
			<th scope="col">typ</th>
			<th scope="col">zustand</th>
			<th scope="col">Hardware wählen</th>
		</tr>
		<tr
			[ngClass]="e ? 'even' : 'odd'"
			*ngFor="
				let hardware of hardwareList;
				let e = even;
				let o = odd;
				let i = index
			">
			<th scope="row">{{ i + 1 }}</th>
			<td>{{ e ? "Even" : "Odd" }}</td>
			<td>{{ hardware.id }}</td>
			<td>{{ hardware.modell }}</td>
			<td>{{ hardware.typ }}</td>
			<td>{{ hardware.zustand }}</td>
			<td>
				<button
					class="btn btn-primary"
					(click)="selectHardware(hardware)">
					Select
				</button>
			</td>
		</tr>
	</tbody>
</table>
