<div id="main">
	<h2>{{ title }}</h2>
	<hr />

	<div>
		<button
			class="btn btn-primary"
			[routerLink]="['/hardwarelist/add']">
			Hardware hinzufügen
		</button>
		<button
			class="btn btn-primary"
			(click)="getHardware()">
			Aktualisieren
		</button>
	</div>

	<table class="table">
		<tbody>
			<tr>
				<th scope="col">Typ</th>
				<th scope="col">Modell</th>
				<th scope="col">Seriennummer</th>
				<th scope="col">Zustand</th>
				<th scope="col">Hardwaredetails</th>
			</tr>
			<tr *ngFor="let hardware of hardwareList">
				<td>{{ hardware.typ }}</td>
				<td>{{ hardware.modell }}</td>
				<td>{{ hardware.seriennummer }}</td>
				<td>{{ hardware.zustand }}</td>
				<td>
					<button
						class="btn btn-primary"
						[routerLink]="['/hardwarelist', hardware.id]">
						Details
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
