<div id="main">
	<h1>Hardware hinzufügen:</h1>
	<div id="details">
		<ngb-alert
			[dismissible]="false"
			*ngIf="msg"
			[type]="'danger'">
			{{ msg }}
		</ngb-alert>

		<form
			#hardwareaddform="ngForm"
			(ngSubmit)="addHardware()">
			<div class="form-group">
				<label for="hardwareModell">Modell:</label>
				<input
					#hardwaremodell="ngModel"
					required
					name="hardwareModell"
					type="text"
					class="form-control"
					id="hardwareModell"
					placeholder="Geben Sie das Modell an"
					[(ngModel)]="hardware.modell" />
			</div>
			<div
				class="alert alert-danger"
				*ngIf="hardwaremodell.invalid">
				Modell is required
			</div>
			<br />
			<div class="form-group">
				<label for="hardwareImage">Bild Link:</label>
				<input
					name="hardwareImage"
					type="text"
					link
					class="form-control"
					id="hardwareImage"
					placeholder="Fügen Sie einen Link ein"
					[(ngModel)]="hardware.image" />
			</div>
			<br />
			<div class="form-group">
				<label for="hardwareKaufdatum">Kaufdatum:</label>
				<input
					name="hardwareKaufdatum"
					type="date"
					class="form-control"
					id="hardwareKaufdatum"
					placeholder="Enter Kaufdatum (Format: YYYY-MM-DD)"
					[(ngModel)]="hardware.kaufdatum" />
			</div>
			<br />
			<div class="form-group">
				<label for="hardwareInhaber">Inhaber: (erforderlich)</label>
				<select
					required
					name="hardwareInhaber"
					class="form-control"
					id="hardwareInhaber"
					[(ngModel)]="hardware.inhaber">
					<option value="">Wählen Sie den Eigentümer</option>
					<option value="Abtei Gymnasium Brauweiler">
						Abtei Gymnasium Brauweiler
					</option>
					<option value="Gesamtschule Pulheim">
						Gesamtschule Pulheim
					</option>
					<option value="Beide Schulen">Beide Schulen</option>
				</select>
			</div>
			<br />
			<div class="form-group">
				<label for="hardwareHersteller">Hersteller:</label>
				<input
					name="hardwareHersteller"
					type="text"
					class="form-control"
					id="hardwareHersteller"
					placeholder="Wählen Sie den Hersteller"
					[(ngModel)]="hardware.hersteller" />
			</div>
			<br />
			<div class="form-group">
				<label for="hardwareSeriennummer">Seriennummer:</label>
				<input
					name="hardwareSeriennummer"
					type="text"
					class="form-control"
					id="hardwareSeriennummer"
					placeholder="Geben Sie die Seriennummer an"
					[(ngModel)]="hardware.seriennummer" />
			</div>
			<br />
			<div class="form-group">
				<label for="hardwareTyp">Typ:</label>
				<input
					name="hardwareTyp"
					type="text"
					class="form-control"
					id="hardwareTyp"
					placeholder="Geben Sie einen Typ an"
					[(ngModel)]="hardware.typ" />
			</div>
			<br />
			<div class="form-group">
				<label for="hardwareZustand">Zustand:</label>
				<input
					name="hardwareZustand"
					type="text"
					class="form-control"
					id="hardwareZustand"
					placeholder="Geben Sie den Zustand an"
					[(ngModel)]="hardware.zustand" />
			</div>
			<br />
			<div class="form-group">
				<label for="hardwareZustandsbeschreibung"
					>Zustandsbeschreibung:</label
				>
				<input
					name="hardwareZustandsbeschreibung"
					type="text"
					class="form-control"
					id="hardwareZustandsbeschreibung"
					placeholder="Geben Sie eine Zustandsbeschreibung an"
					[(ngModel)]="hardware.zustandBeschreibung" />
			</div>
			<br />
			<div class="form-group">
				<label for="zustandDatum">Zustand Datum:</label>
				<input
					name="zustandDatum"
					type="date"
					class="form-control"
					id="zustandDatum"
					placeholder="Enter Zustands Datum"
					[(ngModel)]="hardware.zustandDatum" />
			</div>
			<br />
			<div class="form-group">
				<label for="prufDatum">Prüfdatum:</label>
				<input
					name="prufDatum"
					type="date"
					class="form-control"
					id="prufDatum"
					placeholder="Enter Prüfdatum"
					[(ngModel)]="hardware.pruefungsDatum" />
			</div>
			<br />
			<div>
				<button
					[disabled]="hardwareaddform.invalid"
					type="submit"
					class="btn btn-primary">
					Hinzufügen
				</button>
			</div>
		</form>
	</div>
</div>
