<div id="main">
	<h2>{{ title }}</h2>

	<div>
		<button
			class="btn btn-primary"
			[routerLink]="[
				'/veranstaltunglist/' + idVeranstaltung + '/hardware/add'
			]">
			Add Hardware to Veranstaltung
		</button>
		<button
			class="btn btn-primary"
			(click)="getHardware()">
			Refresh Hardware
		</button>
	</div>

	<table class="table">
		<tbody>
			<tr>
				<th scope="col">Hardware Backend ID</th>
				<th scope="col">modell</th>
				<th scope="col">typ</th>
				<th scope="col">zustand</th>
				<th scope="col">Hardware wählen</th>
				<th scope="col">Hardware löschen</th>
			</tr>
			<tr *ngFor="let hardware of hardwareList">
				<td>{{ hardware.id }}</td>
				<td>{{ hardware.modell }}</td>
				<td>{{ hardware.typ }}</td>
				<td>{{ hardware.zustand }}</td>
				<td>
					<button
						class="btn btn-primary"
						[routerLink]="['/hardwarelist', hardware.id]">
						Select
					</button>
				</td>
				<td>
					<button
						class="btn btn-primary"
						(click)="deleteHardwareFromVeranstaltung(hardware.id)">
						Delete
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
